<div class="modal fade" id="nProdModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nProdModalLabel">Új termék</h5>

                <!-- data-dismiss="modal"  -->
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <form action="/newprod" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <label for="nName">Megnevezés</label>
                            <label for="nGroups" class="mt-3">Csoport</label>
                        </div>
                        <div class="col-8 text-center">
                            <input type="text" id="nName" name="names">
                            <div class="dropdown">
                                <button type="button" id="nGroup" class="btn btn-outline-dark dropdown-toggle mt-3"
                                    data-toggle="dropdown">-Válassz csoportot-</button>
                                <input type="hidden" id="grp" name="groups" value="*"> 
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="addValue(0)">Számítástechnika</a>
                                    <a class="dropdown-item" onclick="addValue(1)">Háztartás</a>
                                    <a class="dropdown-item" onclick="addValue(2)">Konyhatechnika</a>
                                    <a class="dropdown-item" onclick="addValue(3)">Fűtéstechnika</a>
                                    <a class="dropdown-item" onclick="addValue(4)">Árnyékolástechnika</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto" onclick="addValue(-1)">Mégsem</button>
                    <button type="submit" class="btn btn-primary" onclick="hideModal()">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="container text-right footer d-flex flex-row justify-content-end align-items-center">
    <button type="button" class="btn btn-primary" onclick="newproduct()">Új termék</button>
</div>

<script>
    function newproduct() {
        $('#nProdModal').modal('show')
    }

    function hideModal(){
        console.log('before hiding modal- ',document.getElementById('nName').value)
        //document.getElementById('nGroup').innerHTML = '-Válassz csoportot-'
        //document.getElementById('nName').innerHTML = '/'
        $('#nProdModal').modal('hide')
    }

    function saveProduct(name, groups) {
        console.log(name, groups)
    }

    function addValue(value) {
        const ddValues = ['Számítástechnika', 'Háztartás', 'Konyhatechnika', 'Fűtéstechnika', 'Árnyékolástechnika']
        if (value > -1) {
            document.getElementById('nGroup').innerHTML = ddValues[value]
            document.getElementById('grp').value = ddValues[value]

        } else {
            document.getElementById('nGroup').innerHTML = '-Válassz csoportot-'
            document.getElementById('nName').innerHTML = '/'
            $('#nProdModal').modal('hide')
            
        }
        console.log(document.getElementById('nGroup').innerText)
    }

    
</script>