<ul class="nav flex-column nav-pills sidebar">
    <li class="nav-item">
        <a class="nav-link" id="inventory" href="http://localhost:3000/stocks">Készletek</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="home" href="http://localhost:3000/home">Termékek</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="groups" href="http://localhost:3000/groups">Csoportok</a>
    </li>
</ul>